/packages
/闲鱼/bin
/闲鱼/obj
/MyDemoList/bin
/MyDemoList/obj
/MyDemoList/ZipNetCore
/MyDemoList/packages
/MyDemoList/libs/x86
/MyDemoList/libs/x64
/MyDemoList/libs/libvlc
/满箱检测数据表/海康威视拍照/HKVideoPro/bin
/满箱检测数据表/海康威视拍照/HKVideoPro/obj
