<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionStr" value="Data Source=.;Initial Catalog=DataMip;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add key="uid" value="8B36A5B8D3544861D53A6C2B59416232"/>
    <add key="pwd" value="4C1FD91A212C97567D24ED3BD8C5252A"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>